<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permiso para usar internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="FinalProject"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        tools:targetApi="31">

        <!-- Pantalla principal al iniciar la app -->
        <activity
            android:name=".ui.Login_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla signup, se puede ir desde login y viceversa -->
        <activity
            android:name=".ui.Signup_screen"
            android:exported="false" />

        <!-- Pantalla user (tras iniciar sesión) -->
        <activity
            android:name=".ui.User_Home_screen"
            android:exported="false" />

        <!-- Pantalla admin (tras iniciar sesión) -->
        <activity
            android:name=".ui.Admin_Home_screen"
            android:exported="false" />

        <!-- Pantalla loading (por si la usas luego) -->
        <activity
            android:name=".ui.Loading_screen"
            android:exported="false" />
    </application>


</manifest>